body{
  background-color: #E4F9F5;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1{
  font-size: 80px;
  color: #45b29a;
  font-family: 'Sacramento', cursive;
  border: 0;
}
h2{
  color: #45b29a;
  font-size: 30px;
}
h3{
  color: #45b29a;
}
hr{
  margin: 100px auto;
  border-style: dotted;
  border-bottom: none;
  border-width: 6px;
  width: 5%;
  color: #45b29a;
}
a{
  color: #22594d;
  font-size: large;
  text-decoration: none;
  margin: 10px 10px;
  font-family: 'Merriweather', serif;
}
a:hover{
  color: #E4F9F5;
}
.left-cloud{
  position: absolute;
  left: 200px;
  top: 250px;
}
.right-cloud{
  position: absolute;
  right: 200px;
  top: 150px;
}
.top{
  margin-top: 200px;
}
.title{
  position: relative;
  bottom: 50px;
}

.about{
  margin: 100px auto;
  width: 450px;
  line-height: 2;
}
.skill_1{
  width: 700px;
  margin: 50px auto;
  line-height: 2;
  text-align: left;
}
.skill_2{
  width: 700px;
  margin: 50px auto;
  line-height: 2;
  text-align: left;
}
.monitor{
  float: left;
  margin-right: 30px;
  width: 30%;
}
.man{
  float: right;
  margin-left: 30px;
  width: 30%;
}
.contact{
  width: 500px;
  margin: 100px auto;
  line-height: 2;
}
.btn {
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #E4F9F5;
  font-size: 20px;
  background: #45b29a;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #7cc9b8;
  color: #E4F9F5;
  text-decoration: none;
}
.bottom{
  background-color: #45b29a;
  padding: 30px;
  margin: -8px;
}